{% load static %}
<html>
  <head>
    <title>ChitChat</title>
    <link rel="stylesheet" href="{% static 'css/chatapp.css' %}">
  </head>
  <body>
    <h1>ChitChat</h1>
    <nav>
      <a href="/">Home</a>
      <div class="user-info">
        {% if user.is_authenticated %} Welcome, {{ user.username }}
        <a href="{% url 'logout' %}">Log out</a>
        {% else %}
        <a href="{% url 'login' %}">Login</a>
          <a href="{% url 'signup' %}">Signup</a>
        {% endif %}
      </div>
    </nav>
    {% block content %} {% endblock %}
  </body>
</html>